# PocketBase Data
pb_data/

# Setup files
setup/img/
setup/config.json

# System Files
.DS_Store
Thumbs.db
*.log
.vscode/

# Node
node_modules/
.env

# Guides
GUIDE_*

# Vendor files (managed via Docker/npm)
js/vendor/
css/vendor/
